@model MVCAssignment2.Models.MovieTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieReleaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
